<% include ../partials/header %>
<div style="margin-top: 10%" class="row">
    <h1 style="text-align: center">Edit Review</h1>
    <div style="width: 30%; margin: 25px auto;">
        <div class="form-wrap">
        <form action="/yoga/<%= yoga_id %>/comments/<%=comment._id %>?_method=PUT" method="POST">
            <div>
                <label>Edit Text: </label>
                <input class="form-control review-edit-width" type="text" value="<%=comment.text %>" name="comment[text]" placeholder="Review">
                <label style="margin-top: 10%">Edit Rating: </label>
                <input class="form-control review-edit-width" type="number" name="rating" placeholder="Rating">
            </div>
            <div>
                <button style="margin-top:10%" class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
    </div>
</div>
<% include ../partials/footer %>