<% include ./partials/header %>
<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/register.css">
<script src="/scripts/register.js"></script>
<div class="wrapper">

    <!-- <div class="container"> -->
    <br> <br>
    <h1>Welcome! Register Here</h1>
    <form id="register-form" action="/fileupload" method="post" class="form md-form" enctype="multipart/form-data">
        <img src="https://cdn3.iconfinder.com/data/icons/genicons-interface/512/User-512.png" alt="example placeholder avatar"
            height="150px" width="150px">
        <br><br>
        <input id="image" type="file" name="image" placeholder="Choose pic">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Home Address" name="home">
        <input type="text" placeholder="Email Address" name="email">
        <input type="password" placeholder="Password" name="password">

        <button type="submit" id="login-button">Submit</button>
    </form>
</div>



<ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</div>

