.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.halfmap {
    top: 25px;
    display: block;
    margin: auto;
    height: 50%;
    width: 100%;
}

#signed-in {
    color: #c6b2e8;
    font-weight: bold;
}

#hellohike {
    font-weight: 400;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 5%;

}

#delete-form {
    display: inline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.jumbotron {
    margin-top: 125px;
    background-image: url(https://images.pexels.com/photos/373933/pexels-photo-373933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Style for star rating */
.checked {
    color: orange;
}

.unchecked {
    color: grey;
}

.form-check-inline{
    display: inline;
    margin-left: 2%;
    position: relative;
}

.form-group {
    width: 35%;
    margin: 25px auto;
}

.form-wrap {
    margin-top: 10%;
    margin: 30%;
    display: inline;
    text-align: center;
}

.top-space {
    margin-top: 10%;
}

.top-space-fave {
    margin-top: 1%;
}


