.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.halfmap {
    top: 25px;
    display: block;
    margin: auto;
    height: 50%;
    width: 100%;
}

#signed-in {
    color: #58a27c;
    font-weight: bold;
}

#hellohike {
    font-weight: 400;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#delete-form {
    display: inline;
}