.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#signed-in {
    color: #58a27c;
    font-weight: bold;
}

#hellohike {
    font-weight: 400;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#delete-form {
    display: inline;
}