<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New Yoga Rating</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/yoga" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                <input class="form-control" type="number" name="cost" placeholder="cost" step="0.01" min="0" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="rating" placeholder="rating">
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="text" name="amenities" placeholder="amenities">
                </div> -->
                <h4> Amenities </h4>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox1" value="parking">
                <label class="form-check-label" for="inlineCheckbox1">Parking</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox2" value="wifi">
                <label class="form-check-label" for="inlineCheckbox2">Wifi</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox2" value="locker">
                <label class="form-check-label" for="inlineCheckbox2">Lockers</label>
                </div>
                <div>
                 <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox3" value="showers" >
                <label class="form-check-label" for="inlineCheckbox3">Showers</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox2" value="smoothie">
                <label class="form-check-label" for="inlineCheckbox2">Smoothie Bar</label>
                </div>
                <h4> Class Categories </h4>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox1" value="Hatha">
                <label class="form-check-label" for="inlineCheckbox1">Hatha Yoga</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox2" value="Bikram">
                <label class="form-check-label" for="inlineCheckbox2">Bikram Yoga</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox2" value="Hot">
                <label class="form-check-label" for="inlineCheckbox2">Hot Yoga</label>
                </div>
                <div>
                 <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox3" value="Showers" >
                <label class="form-check-label" for="inlineCheckbox3">Prenatal Yoga</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox2" value="Vinyasa">
                <label class="form-check-label" for="inlineCheckbox2">Vinyasa Yoga</label>
                </div>
                <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Toronto, Ontario">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/yoga">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

