<% include ../partials/header %>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

    <div class="row top-space">
        <h1 class="header-plc" style="text-align: center">Create a New Yoga Rating</h1>
        <div>
            <form action="/yoga" method="POST">
                <div class="form-wrap">
                <div class="form-group">
                    <label class="location-plc"> Name: </label>
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label class="location-plc"> Image: </label>
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <label class="location-plc"> Cost: </label>
                <input class="form-control" type="number" name="cost" placeholder="cost" step="0.01" min="0" required>
                </div>
                <div class="form-group">
                    <label class="location-plc"> Description: </label>
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <label class="location-plc"> Rating: </label>
                    <input class="form-control" type="text" name="rating" placeholder="Please enter rating out of 5 (eg. 4)">
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="text" name="amenities" placeholder="amenities">
                </div> -->
                <div class="form-wrap">
                <h4> Amenities </h4>
                <div class="form-check form-check-inline" style="width: 45%; margin-left: 29%">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox1" value="Parking">
                <label class="form-check-label" for="inlineCheckbox1">Parking</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox2" value="Wifi">
                <label class="form-check-label" for="inlineCheckbox2">Wifi</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox2" value="Lockers">
                <label class="form-check-label" for="inlineCheckbox2">Lockers</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                 <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox3" value="Showers" >
                <label class="form-check-label" for="inlineCheckbox3">Showers</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                <input class="form-check-input" type="checkbox" name="amenities" id="inlineCheckbox2" value="Smoothie Bar">
                <label class="form-check-label form-check-inline" for="inlineCheckbox2">Smoothie Bar</label>
                </div>
            </div>
             <div class="form-wrap">
                <h4> Class Categories </h4>
                <div class="form-check form-check-inline" style="width: 45%; margin-left: 24%">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox1" value="Hatha Yoga">
                <label class="form-check-label" for="inlineCheckbox1">Hatha Yoga</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox2" value="Bikram Yoga">
                <label class="form-check-label" for="inlineCheckbox2">Bikram Yoga</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox2" value="Hot Yoga">
                <label class="form-check-label" for="inlineCheckbox2">Hot Yoga</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                 <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox3" value="Showers Yoga" >
                <label class="form-check-label" for="inlineCheckbox3">Prenatal Yoga</label>
                </div>
                <div class="form-check form-check-inline" style="width: 45%">
                <input class="form-check-input" type="checkbox" name="classes" id="inlineCheckbox2" value="Vinyasa Yoga">
                <label class="form-check-label" for="inlineCheckbox2">Vinyasa Yoga</label>
                </div>
            </div>
             <div class="form-wrap">
                <h4> Classes suitable for beginners? </h4>
                <div class="form-check form-check-inline" style="width: 45%; margin-left: 46%">
                <input class="form-check-input" type="checkbox" name="beginners" id="inlineCheckbox1" value="Yes">
                <label class="form-check-label" for="inlineCheckbox1" >Yes</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="beginners" id="inlineCheckbox2" value="No">
                <label class="form-check-label" for="inlineCheckbox2">No</label>
                </div>
                <div class="form-group">
                    <label class="location-plc"> Studio URL: </label>
                    <input class="form-control" type="text" name="website" placeholder="Website URL">
                </div>
                <div class="form-group">
                    <label class="location-plc"> Studio Digits: </label>
                    <input class="form-control" type="text" name="phone" placeholder="Contact Number">
                </div>
                <div class="form-group">
                <label class="location-plc" for="location"> Studio Location:</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Toronto, Ontario">
                </div>
                <div class="form-group form-check-label">
                    <button class="btn btn-lg btn-primary btn-block btn-size">Submit!</button>
                </div>
            </form>
            <a class="form-wrap back-plc" style="width: 45%; margin-left: 49%" href="/yoga">Back</a>
        </div>
    </div>
</form>
</div>
</div>

<% include ../partials/footer %>

